
.bgimg-1 {
	background-image: url("../PICS/photos/photoShoot/teamPicvNew2.jpg");
}

.bgimg-2 {
    background-image: url("../PICS/photos/oldPhotos/teamPicv2.jpg");	
}

.bgimg-3 {
	background-image: url("../PICS/photos/misc/newBack.jpg");
}


/* 		
	<div class = "sponsorContainer">
		<a class="sponsorBox" href = "https://www.altium.com/">
			<img class = "sponsorIMG" src="../PICS/Logo/Altium_logo.svg">
		</a>
	</div>
*/

.sponsorContainer {

	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.sponsorBox {
	
	border-radius: 20px;
	background-color: white;

	margin: 10px;
	padding: 10px;

	display: block;

}

.sponsorIMG {
	width: 200px;

	height: auto;

	padding: 10px;
}
